// Basic colors
$white: #FFFFFF;
$black: #000000;
$page-background-color: $white;
$page-font-color: #3B3B3B;

// TWERKSUBTHEME colors
$blue: #2D88C1;
$blue-light: #95D3F3;
$blue-dark: #092C54;
$red: #CD3B27;
$orange: #ED6D00;
$yellow: #FEC62A;
$pink: #E54D86;
$grey: #EEEEEE;

$message-warning: #E5A200;
$message-status: #4D8F46;
$message-error: #B73939;
